#main {
    background-color: #fff;

    section {
        padding-bottom: 15px;
        padding-top: 15px;

        &.featured {
            height: 100vh;
            position: relative;
            background: url("../../img/home-bg.jpg") fixed;
        }

        &.new-promo {
            .image {
                background-size: cover;
                background: url("../../img/neckle.jpg") center;
                min-height: 320px;

                @media screen and (min-width: 768px) {
                    height: 720px;
                }

                &.box-image {
                    background: url("../../img/box.jpg") center;
                }
            }

            .description {
                min-height: 320px;
                padding-bottom: 80px;
                padding-top: 20px;
                background: url("../../img/promo-bg2.jpg") left top;
            }

            &.reverted {
                .description {
                    background: url("../../img/promo-bg.jpg") right bottom;
                }
            }
        }

        &.promo {
            .promo-wrapper {
                img {
                    padding-bottom: 20px;
                    transition: transform 450ms;

                    &:after {
                        position: absolute;
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: red;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .title {

                }
            }
        }

        &.portfolio {
            .wrapper {
                background-color: $mainColorDarker;
                padding-top: 40px;
                padding-bottom: 40px;
            }

            .boxes {
                .item {
                    min-height: 320px;
                    border: 2px solid $mainColorDarker;
                    background-size: 95%;
                    background-position: center center;
                    transition: all 450ms;

                    &:hover {
                        background-size: 120%;
                    }

                    &:nth-last-child(-n+3) {
                        border-bottom: 4px solid $mainColorDarker;
                    }

                    &:nth-child(1) {
                        background-image: url("../../img/item1.jpg");
                    }
                    &:nth-child(2) {
                        background-image: url("../../img/item2.jpg");
                    }
                    &:nth-child(3) {
                        background-image: url("../../img/item3.jpg");
                    }
                    &:nth-child(4) {
                        background-image: url("../../img/item4.jpg");
                    }
                    &:nth-child(5) {
                        background-image: url("../../img/item5.jpg");
                    }
                    &:nth-child(6) {
                        background-image: url("../../img/item6.jpg");
                    }
                }
            }
        }

        &.content {
            //min-height: 1200px;
        }
    }
}


//#placeholder {
//    height: 420px;
//    background-color: yellow;
//}