body {
  font-family: "Old Standard TT", serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  color: #ffdc73;
  font-family: "Old Standard TT", serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 58px;
  margin: 0 0 44px; }
  h1.secondary-color, h2.secondary-color, h3.secondary-color, h4.secondary-color, h5.secondary-color, h6.secondary-color {
    color: #b3b3b3; }
  h1.dark-color, h2.dark-color, h3.dark-color, h4.dark-color, h5.dark-color, h6.dark-color {
    color: #404040; }
  h1.bright-color, h2.bright-color, h3.bright-color, h4.bright-color, h5.bright-color, h6.bright-color {
    color: #fff; }
  h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold {
    font-weight: 700; }
  h1.letter-space-xs, h2.letter-space-xs, h3.letter-space-xs, h4.letter-space-xs, h5.letter-space-xs, h6.letter-space-xs {
    letter-spacing: 10px; }
  h1.letter-space-xl, h2.letter-space-xl, h3.letter-space-xl, h4.letter-space-xl, h5.letter-space-xl, h6.letter-space-xl {
    letter-spacing: 25px; }

h2 {
  font-size: 48px;
  line-height: 50px;
  margin: 0 0 44px; }

h3 {
  font-size: 40px;
  line-height: 42px;
  margin: 0 0 42px; }

h4 {
  font-size: 32px;
  line-height: 30px;
  margin: 0 0 30px; }

h5 {
  font-size: 26px;
  line-height: 30px;
  margin: 0 0 30px; }

h6 {
  font-size: 19.2px;
  line-height: 30px;
  margin: 0 0 22px; }

p {
  font-size: 26px;
  color: #b3b3b3;
  font-family: "Old Standard TT", serif;
  line-height: 36px;
  margin: 0; }

a {
  color: #fe921f;
  text-decoration: underline; }
  a:hover {
    color: #ffffff; }

img {
  max-height: 100%;
  max-width: 100%; }

.menu-wrapper {
  display: flex;
  margin: 0; }
  .menu-wrapper .menu-item {
    color: #404040;
    font-size: 26px;
    list-style-type: none;
    padding: 0 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: color 450ms; }
    .menu-wrapper .menu-item:hover, .menu-wrapper .menu-item.active {
      color: #d9b037; }

button.btn, button .btn-primary {
  border: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 12px;
  font-size: 16px;
  background-color: #ffdc73;
  padding: 12px 25px;
  bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 450ms; }
  button.btn:hover, button .btn-primary:hover {
    background-color: #d9b037;
    transform: scale(1.1); }
  button.btn.absolute, button .btn-primary.absolute {
    position: absolute; }
    @media screen and (min-width: 768px) {
      button.btn.absolute, button .btn-primary.absolute {
        bottom: 10vh; } }
  button.btn.featured, button .btn-primary.featured {
    border: 1px solid #ffdc73;
    padding: 12px 30px;
    font-size: 24px;
    background-color: transparent;
    letter-spacing: 5px; }
    button.btn.featured:hover, button .btn-primary.featured:hover {
      background-color: #d9b037;
      border-color: #d9b037; }
  button.btn.bright, button .btn-primary.bright {
    border: 1px solid #fff;
    background-color: #fff;
    color: #404040; }
    button.btn.bright:hover, button .btn-primary.bright:hover {
      background-color: #404040;
      border-color: #404040;
      color: #fff; }

header {
  position: sticky;
  top: 0;
  height: 110px;
  background-color: #fff;
  z-index: 2; }
  header img {
    height: 70px;
    margin-top: 20px; }

#main {
  background-color: #fff; }
  #main section {
    padding-bottom: 15px;
    padding-top: 15px; }
    #main section.featured {
      height: 100vh;
      position: relative;
      background: url("../../img/home-bg.jpg") fixed; }
    #main section.new-promo .image {
      background-size: cover;
      background: url("../../img/neckle.jpg") center;
      min-height: 320px; }
      @media screen and (min-width: 768px) {
        #main section.new-promo .image {
          height: 720px; } }
      #main section.new-promo .image.box-image {
        background: url("../../img/box.jpg") center; }
    #main section.new-promo .description {
      min-height: 320px;
      padding-bottom: 80px;
      padding-top: 20px;
      background: url("../../img/promo-bg2.jpg") left top; }
    #main section.new-promo.reverted .description {
      background: url("../../img/promo-bg.jpg") right bottom; }
    #main section.promo .promo-wrapper img {
      padding-bottom: 20px;
      transition: transform 450ms; }
      #main section.promo .promo-wrapper img:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-color: red; }
      #main section.promo .promo-wrapper img:hover {
        transform: scale(1.1); }
    #main section.portfolio .wrapper {
      background-color: #d9b037;
      padding-top: 40px;
      padding-bottom: 40px; }
    #main section.portfolio .boxes .item {
      min-height: 320px;
      border: 2px solid #d9b037;
      background-size: 95%;
      background-position: center center;
      transition: all 450ms; }
      #main section.portfolio .boxes .item:hover {
        background-size: 120%; }
      #main section.portfolio .boxes .item:nth-last-child(-n+3) {
        border-bottom: 4px solid #d9b037; }
      #main section.portfolio .boxes .item:nth-child(1) {
        background-image: url("../../img/item1.jpg"); }
      #main section.portfolio .boxes .item:nth-child(2) {
        background-image: url("../../img/item2.jpg"); }
      #main section.portfolio .boxes .item:nth-child(3) {
        background-image: url("../../img/item3.jpg"); }
      #main section.portfolio .boxes .item:nth-child(4) {
        background-image: url("../../img/item4.jpg"); }
      #main section.portfolio .boxes .item:nth-child(5) {
        background-image: url("../../img/item5.jpg"); }
      #main section.portfolio .boxes .item:nth-child(6) {
        background-image: url("../../img/item6.jpg"); }

footer {
  background-color: #c5f3ff; }

/*# sourceMappingURL=style.css.map */
