// Colors
$mainColor: #ffdc73;
$mainColorDarker: #d9b037;
$secondaryColor: #b3b3b3;
$dark: #404040;
$bright: #fff;

// Sizes

$defaultSize: 16px;

// Font families
$headingFontFamily: 'Old Standard TT', serif;
$bodyFontFamily: 'Old Standard TT', serif;

// Headings and others

body {
    font-family: $bodyFontFamily;
    font-size: $defaultSize;
}

h1 {
    color: $mainColor;
    font-family: $headingFontFamily;
    font-size: $defaultSize * 4;
    font-weight: 400;
    line-height: 58px;
    margin: 0 0 44px;

    &.secondary-color {
        color: $secondaryColor;
    }

    &.dark-color {
        color: $dark;
    }

    &.bright-color {
        color: $bright;
    }

    &.bold {
        font-weight: 700;
    }

    &.letter-space-xs {
        letter-spacing: 10px;
    }

    &.letter-space-xl {
        letter-spacing: 25px;
    }
}

h2 {
    @extend h1;
    font-size: $defaultSize * 3;
    line-height: 50px;
    margin: 0 0 44px;
}

h3 {
    @extend h1;
    font-size: $defaultSize * 2.5;
    line-height: 42px;
    margin: 0 0 42px;
}

h4 {
    @extend h1;
    font-size: $defaultSize * 2;
    line-height: 30px;
    margin: 0 0 30px;
}

h5 {
    @extend h1;
    font-size: $defaultSize * 1.625;
    line-height: 30px;
    margin: 0 0 30px;
}

h6 {
    @extend h1;
    font-size: $defaultSize * 1.2;
    line-height: 30px;
    margin: 0 0 22px;
}

p {
    font-size: $defaultSize * 1.625;
    color: #b3b3b3;
    font-family: "Old Standard TT", serif;
    line-height: 36px;
    margin: 0;
}

a {
    color: #fe921f;
    text-decoration: underline;

    &:hover {
        color: #ffffff
    }
}

img {
    max-height: 100%;
    max-width: 100%;
}

// Navigation

.menu-wrapper {
    display: flex;
    margin: 0;

    .menu-item {
        color: $dark;
        font-size: $defaultSize * 1.625;
        list-style-type: none;
        padding: 0 24px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: color 450ms;

        &:hover, &.active {
            color: $mainColorDarker;
        }
    }
}

// Buttons

button {
    &.btn, .btn-primary {
        border: none;
        color: $bright;
        text-transform: uppercase;
        border-radius: 12px;
        font-size: 16px;
        background-color: $mainColor;
        padding: 12px 25px;
        bottom: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 450ms;

        &:hover {
            background-color: $mainColorDarker;
            transform: scale(1.1);
        }

        &.absolute {
            position: absolute;

            @media screen and (min-width: 768px) {
                bottom: 10vh;
            }
        }


        &.featured {
            border: 1px solid $mainColor;
            padding: 12px 30px;
            font-size: 24px;
            background-color: transparent;
            letter-spacing: 5px;

            &:hover {
                background-color: $mainColorDarker;
                border-color: $mainColorDarker;
            }
        }

        &.bright {
            border: 1px solid $bright;
            background-color: $bright;
            color: $dark;

            &:hover {
                background-color: $dark;
                border-color: $dark;
                color: $bright;
            }
        }
    }
}